/* .angle-down{
   background: none; 
   border: none;
}
a{
    text-decoration: none; 
     color: #343434;
    font-family: OpenSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.1px;
}
  
.list{
    list-style: none;
}

.toc-tree{
    margin-left:15px;
    padding-left: 0;
    width:300px;
    height: 4000px;
    background: #FAFAFA;
    box-shadow: 1px 0px 0px 0px #E6E6E6;
}

.item{
    color: #343434;
    font-family: OpenSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.1px;
}
 */
